#albumImage {
    background: url(http://www.undertheradarmag.com/uploads/article_images/1128035_10151326177346278_780750535_n.jpg) no-repeat center;
    height: 400px;
    background-size: 450px 400px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: #8dd3e7;
}

a:active {
    text-decoration: none;
}

table, td, th {
    border: 1px solid black;
    border-collapse:collapse;
    text-align: center;
}

td {
    font-style: italic;
    background-color: #bde4f6;
}

ul {
    padding-left: 80px;
    margin-bottom: 0px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Helvetica, sans-serif;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-style: italic;
}

ul {
    font-family: italic;
}

li p {
    font-style: italic;
    margin: 0;
}
