body {
    height: 100%;
    margin-bottom:70px;
}

html {
    position: relative;
    min-height: 100%;
}

.header {
    text-transform: uppercase;
    font-family: 'Ubuntu',sans-serif;
    padding: 0;
    margin: 20px auto;
    text-align: center;
}

.nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

a:link {
    color: blue;
}

a:visited {
    color: green;
}

a:hover {
    font-weight: bold;
}

a:active {
    text-decoration: none;
}

.main p {
    margin-top: 0;
}

form {
    padding-top: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    border-top: 1px solid black;}
