html,body {
   margin:0;
   padding:0;
   height:100%;
}

hr {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.nav ul {
    display: block;
}

.nav ul li{
    display: inline-block;
    padding-right: 20px;
}

.footer {
        position: absolute;
        bottom: 0;
        height: 60px;
        width: 100%;
        text-align: center;
}
