a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: #8dd3e7;
}

#header {
    background-color: #cccccc;
}

#caption {
    padding-bottom:10px;
    font-size:20px;
    text-align: center;
    border-bottom: 1px solid black;
}

table, td, th {
    border: 1px solid black;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #bde4f6;
}

td {
    font-style: italic;
}

ul {
    padding-left: 80px;
    margin-bottom: 0px;
    font-family: italic;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Helvetica, sans-serif;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-style: italic;
}

li p {
    font-style: italic;
    margin: 0;
}
