html,body {
   margin:0;
   padding:0;
   height: 100%;
}

hr {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Ubuntu',sans-serif;
    height: 70px;
    line-height: 70px;
}

a:link {
    color: blue;
}

a:visited {
    color: green;
}

a:hover {
    font-weight: bold;
}

a:active {
    text-decoration: none;
    font-weight: normal;
}

.header h1 {
    margin: 0;
}

.nav {
    height: auto;
}

.nav ul {
    display: block;
    margin: 0;
    height: 50px
}

.nav ul li{
    display: inline-block;
    padding-right: 20px;
    height: 50px;
    line-height: 50px;
}

.main {
    padding-top: 20px;
    min-height: 90%;
    /**height: calc(100vh - 216px);
    overflow: auto;**/
}

.main p {
    margin-top: 0;
}

.footer {
        position: relative;
        bottom: 0;
        height: 70px;
        width: 100%;
        text-align: center;
        border-top: 1px solid black;
}

.footer p {
    margin: 0 auto;
    padding: 0;
    line-height: 35px;
}
